<span class="label-button">hi random person!</span>
<p>welcome to my corner of the internet</p>

<div class="embed-box">
    <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbm9sNzIycnR0NzZia2FkeWs0ZDNsZjl4NmkwZmxpdXhlMG54aGs2aSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ER1kvqvI3mb4s/giphy.gif">
</div>

<img src="/assets/images/best-viewed-with-monitor.webp" alt="best-viewed-with-monitor">
<img src="/assets/images/a81.webp" alt="ai_art_is_theft">
<br>
<img src="/assets/images/coffee_copy1.gif">

<div class="nav-button">
    <a class="label-button" id="embedTitle" onclick="copyEmbed()">Embed Me</a>
    <div class="button-row">
        <a href="https://www.dunkelarts.ch/" title="Visit DunkelArts Website">
        <img src="/assets/images/button.gif" alt="" width="88" height="31">
        </a>
    </div>
    <textarea readonly id="embedCode" rows="3"><a href="https://www.dunkelarts.ch/" title="Visit DunkelArts Website"><img src="https://www.dunkelarts.ch/assets/images/button.gif" alt="" width="88" height="31"></a></textarea>
</div>