<nav>
  <span class="label-button"><a>Navigation</a></span>
  <span class="nav-button"><a onclick="load('main-content', '/pages/startpage.html');"><img src="/assets/images/Home.png" alt="Home" class="nav-button-icon">Home</a></span>
  <span class="nav-button"><a onclick="load('main-content', '/pages/about.html');"><img src="/assets/images/snoopy.png" alt="About" class="nav-button-icon">About me</a></span>
  <span class="nav-button"><a onclick="loadBlogEntries('main-content', '/posts')"><img src="/assets/images/coffee.png" alt="Blog" class="nav-button-icon">Blog</a></span>
  <span class="nav-button"><a onclick="load('main-content', '/pages/music.html');"><img src="/assets/images/19.png" alt="music" class="nav-button-icon">Music</a></span>
  <span class="nav-button"><a onclick="load('main-content', '/pages/links.html');"><img src="/assets/images/181.png" alt="links" class="nav-button-icon">Links</a></span>
</nav>