<nav>
  <span class="label-button"><a>Navigation</a></span>
  <span class="nav-button"><a href="/"><img src="/assets/images/Home.png" alt="Home">Home</a></span>
  <span class="nav-button"><a href="/about.html"><img src="/assets/images/snoopy.png" alt="About">About me</a></span>
  <span class="nav-button"><a href="/blog/"><img src="/assets/images/coffee.png" alt="Blog">Blog</a></span>
  <span class="nav-button"><a href="/music.html"><img src="/assets/images/19.png" alt="music">Music</a></span>
  <span class="nav-button"><a href="/links.html"><img src="/assets/images/181.png" alt="links">Links</a></span>
</nav>