/* colors */
:root {
  --btn-default: #fff;
  --btn-hover: #efefef;
  --btn-active: #f3f9ff;
}

.post-item {
    background-color: var(--content);
    border: 1px var(--border) solid;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .1s;
    text-align: left;
}

.entry-button {
    background-color: var(--btn-default);
}

.entry-button:hover {
    background-color: var(--btn-hover)
}

.entry-button.active{
    background-color: var(--btn-active);
}

.entry-button.active:hover{
    background-color: var(--btn-hover);
}

.entry-title {
    font-weight: 600;
}

.entry-date {
    font-size: 0.85rem;
    opacity: 0.7;
}