@font-face {
  font-family: "basiic";
  src: url("/assets/fonts/basiic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* colors */
:root {
  --bg: #f8f6fe;
  --card: #c7d9eb;
  --border: #0b3763;
  --content: #e6f3ff;
  --shadow: 0 8px 20px rgba(0, 60, 120, 0.1);

}

html {
    cursor: url(), default;
    image-rendering: pixelated;
    text-transform: lowercase;
}

body {
    margin: 0;
    background: 
        linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)),
        url(/assets/images/background2.gif);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    font-family: "basiic";
    color: #38434a;
}

.layout {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    gap: 5px;
    padding: 5px;    

    max-width: 1000px;
    min-height: 85vh;

    border-style: solid;
    border-width: 7px;
    border-radius: 5px;
    border-image: url(/assets/images/lace2.png) 9 fill round;

    background: var(--bg);
    box-shadow: var(--shadow);
}

#headbox {
    grid-column: 1 / -1;

    border: 1px solid var(--border);
    border-radius: 5px;

    background: var(--card);
}

.content-box {
    border: 1px solid var(--border);
    border-radius: 5px;
    background: var(--card);
    padding: 10px 5px 5px 5px;

    min-height: 500px;
}

.content-box2 {
    background-color: var(--content);
    border: 1px var(--border) solid;
    padding: 10px;
    margin-bottom: 5px;

    max-height: 500px;
    overflow-y: auto;
}

.sidebarleft-title {
    display: block;
    background: #fff;
    margin-bottom: 3px;
    padding: 5px;

    font-size: 15px;
    text-align: center;

    border-style: solid;
    border-width: 7px;
    border-radius: 5px;
    border-image: url(/assets/images/lace2.png) 9 fill round;
}

#sidebarleft p {
    text-align: center;
    font-size: 12px;
}

#middle p {
    font-size: 12px;
    font-weight: bold;
}

#middle h3 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.nav-header {
    display: block;
    background: #f5e6e9;
    margin-bottom: 3px;
    padding: 5px;

    font-size: 20px;
    font-style: bold;

    border: 1px solid var(--border);
    border-radius: 5px;
}

.nav-button {
    display: block;
    background: #fcecf0;
    margin-bottom: 3px;
    padding: 5px;

    border-style: solid;
    border-width: 7px;
    border-radius: 5px;
    border-image: url(/assets/images/lace2.png) 9 fill round;
}

.nav-button a {
    text-decoration: none;

    font-size: 15px;
    color: black;

    letter-spacing: 1px;
    transition: .3s
}

.nav-button a:hover {
    letter-spacing: 1.5px;
    opacity: 0.7;
    transition: .3s
}

.nav-button a img {
    height: 14px;
    width: auto;
    padding-right: 5px;
}

#footerbox {
    border: 1px solid var(--border);
    border-radius: 5px;

    text-align: center;

    font-size: 10px;

    grid-column: 1 / -1;
    background: var(--card);
}

/* mobile */
@media (max-width: 800px) {
  .layout {
    grid-template-columns: 1fr;
  }
}